/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header .banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner-img {
    width: 100%;
    height: 400px;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.overlay h1, .overlay h2 {
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.overlay h1 {
    font-size: 48px;
    font-weight: bold;
}

.overlay h2 {
    font-size: 24px;
    margin-top: 10px;
}

.profile-pic {
    border-radius: 10%;
    width: 150px;
    height: 250px;
    

}
.profile-pic-container {
    flex-shrink: 0; /* Evita que la imagen se reduzca */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}


button, .btn {
    font-family: 'Poppins', sans-serif;
    margin: 10px 10px; /* Añade espacio entre los botones */
    padding: 10px 100px; /* Ajusta el tamaño del botón */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    border-radius: 50px; /* Mantiene los botones redondeados */
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover, .btn:hover {
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.container-buttons {
    display: flex;
    justify-content: space-around; /* Espacia los botones uniformemente */
    align-items: center;
    flex-wrap: wrap; /* Permite que los botones se muevan a la siguiente línea si es necesario */
    margin-top: 5px;
}

main {
    padding: 0px;
}

/* Bloque de animacion de paginas */
.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.content-overlay h1, .content-overlay h2 {
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.page-content {
    opacity: 0; /* Inicia con opacidad cero */
    transform: translateX(100%); /* Posiciona el contenido fuera de la vista hacia la derecha */
    animation: slideInFromRight 0.5s ease-out 0.3s forwards; /* Configura la animación */
    /* background-color: #3d2304; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-mi-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #deb069;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-mi-container h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.sobre-mi-texto {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
    text-align: justify;
}

.sobre-mi-texto strong {
    color: #007bff; /* Color destacado para las tecnologías */
}

.sobre-mi-texto em {
    font-style: italic;
    color: #333;
    font-weight: bold;
}
.contacto-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto-container h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}
.certifi {
    background-color: #b4bd34;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre los campos */
    margin-bottom: 15px;
}

.form-field {
    flex: 1; /* Hace que los campos compartan el espacio de forma equitativa */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.repos-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #b4bd34;
}

.repos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.repo-card {
    background-color: #bdceb0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}

.repo-card:hover {
    transform: translateY(-5px);
}

.repo-card h3 {
    margin-top: 0;
    color: #333;
}

.repo-card p {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
}

.repo-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.repo-link:hover {
    background-color: #0056b3;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #555;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #7f6000;
    color:#3d0604;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
footer {
    background-color: #333;
    color: #f1f1f1;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    margin: 10px 20px;
    gap: 20px;
    padding: 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    color: #ddd;
    line-height: 1.6;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px solid #444;
    padding-top: 15px;
}

    /* Animaciones */


@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}