<!-- templates/certificados_list.html -->

{% extends 'base.html' %}

{% block content %}
{% load static %}
<div  >
    <h1 style="text-align: center;">Certificaciones</h1>
    <div class="repo-container">
        {% for certificado in certificados %}
            <div class="certifi">
                <h2>{{ certificado.titulo }}</h2>
              <img src="{% static certificado.img.name %}" alt="{{ certificado.titulo }}" width="600">
            </div>
        {% endfor %}
        </div>
</div>

{% endblock %}
