
<!-- templates/sobre_mi.html -->
{% extends 'base.html' %}

{% block content %}
<div class="certifi" >
    <h2>Sobre mí</h2>
    <p class="sobre-mi-texto">
        Desde que descubrí la programación, me ha fascinado cómo unas pocas líneas de código pueden transformar ideas en soluciones reales. La pasión por resolver problemas lógicos es lo que impulsa mi carrera como desarrollador; para mí, cada desafío es una oportunidad de aprender y mejorar. La sensación de encontrar la solución óptima a un problema complejo es lo que me motiva a seguir profundizando en el mundo del desarrollo.
    </p>
    <p class="sobre-mi-texto">
        He trabajado con diversas tecnologías que abarcan tanto el frontend como el backend, incluyendo <strong>Python</strong>, <strong>Django</strong>, <strong>JavaScript</strong>, <strong>React</strong>, <strong>Node.js</strong> y <strong>NestJS</strong>. Esta variedad me ha permitido abordar proyectos desde diferentes perspectivas y entender mejor cómo integrar las distintas partes de una aplicación para crear una experiencia de usuario fluida y eficiente.
    </p>
    <p class="sobre-mi-texto">
        <em>¿Por qué elegirme?</em> Porque no solo busco entregar código funcional, sino que me esfuerzo en crear soluciones que sean elegantes, escalables y mantenibles. Mi enfoque en la mejora continua y la pasión por resolver problemas me convierte en el candidato ideal para proyectos que requieren un enfoque innovador y una mente analítica.
    </p>
</div>
{% endblock %}


